@using HandMade.Controllers
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager;
@model IEnumerable<HandMade.Models.Products>
@{
    ViewBag.Title = "Продукты";
    var a = TempData["Categories"];
}
<link rel="stylesheet" href="~/css/cards.css" />

<form class="form-inline" style="padding-top: 20px; display: block;" method="get">
        <div class="input-group mb-3" style="margin-right: 10px;">
            <input type="text" name="searchString" class="form-control input-lg" placeholder="Поиск">
        <div class="input-group-append" >
            <button style="color: #ffffff; margin-top: 0px;" class="btn cart px-auto" type="submit">Поиск</button>
        </div>
        </div>
</form>

@if (Model.Any())
{

    <h1>Кофе</h1>

    <hr/>

    <form class="form-inline" style="flex-direction: row-reverse" method="get">
        <div class="input-group mb-3 col-sm-7 col-md-5 col-lg-4 col-12 sort" style="margin-right: 10px;">
            <select class="custom-select" name="filter" style="width: 200px;">
                <option value="">Все</option>
                @foreach (var item in (List<ProductController.SelectOptions>)a)
                {
                    <option value="@item.text">@item.text</option>
                }
            </select>
            <div class="input-group-append">
                <button style="color: #ffffff; margin-top: 0px;" class="btn cart px-auto" type="submit">Применить</button>
            </div>
        </div>
    </form>

    <div class="row flex-row flex-wrap" style="display: flex; justify-content: center;">

        @foreach (var product in Model)
        {
            <div class="card col-lg-4 col-md-4 col-sm-6 col-xs-6">
                @if (product.ImageProduct != null)
                {
                    <img style="width: auto;height: auto;object-fit: cover;padding: 3px 5px 9px 3px;" src="@($"data:{product.ImageProduct};base64,{Convert.ToBase64String(product.ImageProduct)}")" />
                }
                else
                {
                    <img style="width: auto;height: auto;object-fit: cover;padding: 3px 5px 9px 3px;" src="../imgnone.png" />
                }
                <div class="card-body text-center mx-auto">
                    <div class='cvp' style="display: contents;">
                        <h5 class="card-title font-weight-bold">@product.NameOfTheProduct</h5>
                        <p class="card-text">₽ @product.Price</p>

                        <button type="button" class="btn details px-auto" data-toggle="modal" data-target="#productModal@(product.ProductsId)">
                                Подробнее
                            </button>
                        <div class="btn cart px-auto">
                            @if (signInManager.IsSignedIn(User))
                            {
                                <a style="color: #ffffff;" href="@Url.RouteUrl("add-to-cart", new { id = product.ProductsId })">Добавить в корзину</a>
                            }
                            else
                            {
                                <a style="color: #ffffff;" href="/Identity/Account/Login">Добавить в корзину</a>
                            }

                        </div>
                    </div>
                </div>
            </div>

        <div class="modal fade" id="productModal@(product.ProductsId)" tabindex="-1" role="dialog" aria-labelledby="productModalLabel@(product.ProductsId)" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="productModalLabel@(product.ProductsId)">@product.NameOfTheProduct</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>@product.Description</p>
                                <p>Цена: @product.Price ₽</p>
                                <p>Количество: @product.Quantity</p>
                              
                            </div>
                            <div class="modal-footer">
                                @if (signInManager.IsSignedIn(User))
                                {
                                    <a style="color: #ffffff;" href="@Url.RouteUrl("add-to-cart", new { id = product.ProductsId })" class="btn cart px-auto">Добавить в корзину</a>
                                }
                                else
                                {
                                    <a style="color: #ffffff;" href="/Identity/Account/Login" class="btn cart px-auto">Добавить в корзину</a>
                                }
                            </div>
                        </div>
            </div>
        </div>
        }
    </div>


}
else
{
    <div class="jumbotron">
        <h1 class="display-4">Товары отсутствуют!</h1>
       
    </div>
}