@using HandMade.Controllers
@model IEnumerable<HandMade.Models.Products>
@{
    ViewBag.Title = "Продукты";
    var a = TempData["Categories"];
}
<form class="form-inline" method="get">
    <div class="input-group mb-3" style="margin-right: 10px;">
        <input type="text" name="searchString" class="form-control" placeholder="Поиск">
        <div class="input-group-append">
            <button class="btn btn-outline-success" type="submit">Поиск</button>
        </div>
    </div>

    <div class="input-group mb-3" style="margin-right: 10px;">
        <select class="custom-select" name="filter" style="width: 200px;">
            <option value="">Все</option>
            @foreach (var item in (List<ProductController.SelectOptions>)a)
            {
                <option value="@item.text">@item.text</option>
            }
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-success" type="submit">Применить</button>
        </div>
    </div>
</form>

@if (Model.Any())
{
    <a asp-action="AddProducts"
   class="btn btn-outline-success mb-3" style="width:auto">
        Добавить новый товар
    </a>

    <div class="row flex-row flex-wrap">
        @foreach (var product in Model)
        {
            <div class="card" style="width: 18rem; margin: 10px;">
                <div>
                    @if (product.ImageProduct != null)
                    {
                        <img style="width: 18rem;height: 250px;object-fit: cover;padding: 3px 5px 9px 3px;" src="@($"data:{product.ImageProduct};base64,{Convert.ToBase64String(product.ImageProduct)}")" />
                    }
                    else
                    {
                        <img style="width: 18rem;height: 250px;object-fit: cover;padding: 3px 5px 9px 3px;" src="../imgnone.png" />
                    }
                </div>
                <div class="card-body" style="padding: 10px 20px 5px 20px;">
                    <h5 class="card-title">@product.NameOfTheProduct</h5>
                    <div class="accordion">
                        <div class="card" style="border: none; background: white;">
                            <div class="card-header" style="background: white; padding: 0rem 0rem;">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" style="padding: .375rem 0rem;" type="button" data-toggle="collapse" data-target="#collapse@(product.ProductsId)" aria-expanded="false" aria-controls="collapse@(product.ProductsId)">
                                        Описание
                                    </button>
                                </h5>
                            </div>

                            <div id="collapse@(product.ProductsId)" class="collapse">
                                <div class="card-body" style="padding: 1.25rem 0rem;">@product.Description</div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Цена: @product.Price ₽</li>
                </ul>
                <div class="card-body">
                    <form asp-action="Delete" asp-route-id="@product.ProductsId" method="post">

                        <a asp-action="EditProducts" asp-controller="Product" asp-route-id="@product.ProductsId" class="btn btn-sm btn-outline-secondary">Редактировать</a>
                        <button type="submit" class="btn btn-sm btn-outline-danger"
                        onclick="return confirm('Вы уверены что хотите удалить данный товар: @product.NameOfTheProduct')">
                            Удаление
                        </button>
                    </form>
                </div>
            </div>
        }
    </div>

}
else
{
    <div class="jumbotron">
        <h1 class="display-4">Товары отсутствуют!</h1>
        <p class="lead">Добавить товар - просто! Используйте кнопку ниже, чтобы добавить товар.</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-outline-success" style="width:auto" asp-action="AddProducts">
                Добавить  товар
            </a>
        </p>
    </div>
}
