@model IEnumerable<HandMade.Models.Carts>
@{
    ViewBag.Title = "Корзина";
}

<h1>Корзина</h1>

@if (Model != null && Model.Any())
{
    <div class="d-flex justify-content-end mb-3">
        <a asp-controller="Orders" asp-action="Create" class="btn btn-primary">Оформить заказ</a>

    </div>

    @foreach (var item in Model)
    {
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    @if (item.Products.ImageProduct != null)
                    {
                        <img style="width:310px;height:250px; object-fit:cover" src="@($"data:{item.Products.ImageProduct};base64,{Convert.ToBase64String(item.Products.ImageProduct)}")" />
                    }
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="col-md-8">
                            <h5 class="card-title">Название: @item.Products.NameOfTheProduct</h5>
                            <h5 class="card-title">Цена: @item.Products.Price ₽</h5>
                            <h5 class="card-title">Количество: @item.Quantity</h5>
                        </div>
                        <p class="card-text">
                            <div class="card-body" style="padding: 1px;">
                                <div class="accordion">
                                    <div class="card" style="border: none; background: white; padding: 1px;">
                                        <div class="card-header" style="background: white; padding: 1px;">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse@(item.Products.ProductsId)" aria-expanded="false" aria-controls="collapse@(item.Products.ProductsId)">
                                                    Описание
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapse@(item.Products.ProductsId)" class="collapse">
                                            <div class="card-body" style="padding: 1.25rem 0rem;">@item.Products.Description</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                        <div class="col-md-5">
                            <form asp-action="Delete" asp-route-CartsId="@item.CartsId" method="post">
                                <button type="submit" class="btn btn-outline-danger"
                              >
                                    Удаление
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    }
    <table>
        <tfoot>
            <tr>
                <td colspan="4">Итого:</td>
                <td colspan="2">
                    <strong>@Model.Sum(item => item.Products.Price * item.Quantity)</strong>
                </td>
            </tr>
        </tfoot>

    </table>
}
else
{
    <div class="alert alert-info">Корзина пуста</div>
}