@model IEnumerable<HandMade.Models.Carts>
@{
    ViewBag.Title = "Корзина";
}
<link rel="stylesheet" href="~/css/cart.css" />

@if (Model != null && Model.Any())
{

    <div class="card" style="padding-bottom: 30px;">
                <div class="col-md-18 cart">
                    <div class="title">

                        <div class="row">
                            <div class="col"><h4><b>Корзина покупок</b></h4></div>
                        <div class="col align-self-center text-right text-muted">Итого: @Model.Sum(item => item.Products.Price * item.Quantity)</div>
                        </div>
                    </div>    
                    
                    @foreach (var item in Model)
                        {
                      <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2">
                                @if (item.Products.ImageProduct != null)
                                {
                                    <img class="img-fluid" style="" src="@($"data:{item.Products.ImageProduct};base64,{Convert.ToBase64String(item.Products.ImageProduct)}")" />
                                }
                            </div>
                            <div class="col">
                                <div class="row">@item.Products.NameOfTheProduct</div>
                            </div>
                            <div class="col">
                                @item.Quantity
                            </div>
                        <div class="col">
                            ₽
                                @item.Products.Price 
                            </div>
                            
                                <span class="close">
                                    <form asp-action="Delete" asp-route-CartsId="@item.CartsId" method="post">
                                        <button type="submit" class="btn btn-outline-danger">
                                            Удаление
                                        </button>
                                    </form>
                                </span>

                        </div>
                        
                    </div>
                    }

                </div>
                <a asp-controller="Orders" asp-action="Create" class="btnn">Оформить заказ</a>
        </div> 
}
else
{
    <div class="alert alert-info">Корзина пуста</div>
}